{% extends "base.html" %}

{% block content %}
<!-- Button trigger modal -->

{% set ns = namespace(found=false, bill_to=0, invoice_number=0) %}
{% if invoices %}
{% for invoice in invoices %}
{% set ns.bill_to = invoice.bill_to %}
{% set ns.invoice_number = invoice.invoice_number %}
{% set ns.submitted = false %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <dl>
                <dt>Customer</dt>
                <dd>{{invoice.bill_to}}</dd>
                <dt>Street</dt>
                <dd>{{invoice.billing_street}}</dd>
                <dt>Country</dt>
                <dd>{{invoice.billing_country}}</dd>
                <dt>Postal Code</dt>
                <dd>{{invoice.billing_code}}</dd>
            </dl>
        </div>
        <div class="col">
            <dl>
                <dt>Reference</dt>
                <dd>{{invoice.reference}}</dd>
                <dt>Attention</dt>
                <dd>{{invoice.attention}}</dd>
                <dt>Primary Finance Email</dt>
                <dd class="red">{{invoice.primary_finance_email}}</dd>
                <dt>Extra Email</dt>
                <dd class="red">{{invoice.finance_email}}</dd>
            </dl>
        </div>
        <div class="col">
            <dl>
                <dt>Invoice Number</dt>
                <dd>{{invoice.invoice_number}}</dd>
                <dt>Last Updated</dt>
                <dd class="red">{{invoice.updated}} UTC</dd>
                <dt>Invoice Status</dt>
                <dd class="red">{{invoice.invoice_status}}</dd>
                <dt>Invoice Date</dt>
                <dd>{{invoice.invoice_date}}</dd>


            </dl>
        </div>
        <div class="col">
            <dl>

                <dt>Local Site</dt>
                <dd>{{invoice.local_site}} </dd>
                <dt>Payment Term</dt>
                <dd>{{invoice.payment_term}}</dd>
                <dt>PartitionKey</dt>
                <dd>{{invoice.PartitionKey}}</dd>
                <dt>Due Date</dt>
                <dd>{{invoice.due_date}}</dd>

            </dl>
        </div>
        <div class="col">
            <dl>
                <dt>Currency</dt>
                <dd>{{invoice.currency}}</dd>
                <dt>Invoice Total Amount</dt>
                <dd>${{invoice.invoice_total_amount}}</dd>
                <dt>Invoice Tax Amount</dt>
                <dd>${{invoice.invoice_tax_amount}}</dd>
                <dt>Invoice Total Amount With Tax</dt>
                <dd class="red">${{invoice.invoice_total_amount_with_tax}}</dd>
            </dl>
        </div>
    </div>
</div>
{% if 'Confirm' == invoice.invoice_status %}{% set ns.found = true %}{% endif %}
{% if 'Submitted' == invoice.invoice_status %}{% set ns.submitted = true %}{% endif %}
{% endfor %}
{% endif %}

{% if id %}


<div class="container-fluid">
    <div class="row">
        <dt>Actions:</dt>
        <div class="col py-1">
            {% if ns.submitted == false%}
            <button id="confirmInvoice" type="button" class="btn btn-primary" data-toggle="modal"
                data-target="#confirmInvoiceModal">
                Confirm Invoice
            </button>
            {% endif %}
            {% if ns.found%}
            <button id="sendInvoice" type="button" class="btn btn-success" data-toggle="modal"
                data-target="#sendEmailModal">
                Send Email to Customer
            </button>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <dt>Preview:</dt>
        <div class="col py-1">
            {% if ns.found or ns.submitted%}
            <a class="btn btn-info" target="_blank"
                href="{{ url_for('preview_invoice',invoice_number=ns.invoice_number,PartitionKey=PartitionKey) }}">Preview
                Invoice</a>
            {% endif %}
            <a class="btn btn-info" target="_blank"
                href="{{ url_for('preview_statement',bill_to=ns.bill_to,PartitionKey=PartitionKey) }}">Preview
                Statement</a>
            
        </div>
    </div>
</div>

{% endif %}



</form>

<div class="container-fluid">
    {% if table %}{{table}}{% endif %}

</div>




<!-- Modal -->
<div class="modal fade" id="confirmInvoiceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmInvoiceModalTitle">Confirm Invoice</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                {% if id %}<a class="btn btn-primary"
                    href="{{ url_for('post_invoice',id=id,PartitionKey=PartitionKey) }}">Confirm invoice</a>{% endif
                %}
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="sendEmailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sendEmailModalTitle">Submit Invoice</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                {% if id %}<a class="btn btn-primary"
                    href="{{ url_for('send_email',id=id,PartitionKey=PartitionKey) }}">Send Email to Customer</a>{%
                endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}