{% extends "base.html" %}

{% block content %}
    <div>
        <h2>{{ title }}</h2>
        <!-- Button trigger modal -->

        {% if invoices %}  
            {% for invoice in invoices %}       
                <h4>{{invoice.bill_to}}</h4>
                <h6>Invoice Number: {{invoice.invoice_number}}</h6>
                <h6>Reference: {{invoice.reference}}</h6>
                <h6>Attention: {{invoice.attention}}</h6>
                <h6>Currency: {{invoice.currency}}</h6>
                <h6>Local Site: {{invoice.local_site}}</h6>
                <h6>Invoice Status: {{invoice.invoice_status}}</h6>
                <h6>Payment Status: {{invoice.payment_status}}</h6>
                <h6 class="pull-right">Invoice Date: {{invoice.invoice_date}}</h6>
                <h6 class="pull-right">Due Date: {{invoice.due_date}}</h6>
                <h6 class="pull-right">Invoice Total Amount: {{invoice.invoice_total_amount}}</h6>   
            {% endfor %}                 
        {% endif %}
        </form>

        {% if id %}
        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#confirmInvoiceModal">
            Confirm Invoice
        </button>
        <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#submitInvoiceModal">
            Submit to Xero/Send Email to Customer
        </button>
        {% endif %}
        {% if sub_title %}<h3>{{ sub_title }}</h3>{% endif %}
  
        {% if table %}{{table}}{% endif %} 

        

    </div>
    <!-- Modal -->
    <div class="modal fade" id="confirmInvoiceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="confirmInvoiceModalTitle">Confirm Invoice</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            {% if id %}<a class="btn btn-primary" href="{{ url_for('post_invoice',id=id) }}">Confirm invoice</a>{% endif %}
            </div>
        </div>
        </div>
    </div>

        <!-- Modal -->
        <div class="modal fade" id="submitInvoiceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="submitInvoiceModalTitle">Submit Invoice</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                {% if id %}<a class="btn btn-primary" href="{{ url_for('send_email',id=id) }}">Submit to Xero/Send Email to Customer</a>{% endif %}
                </div>
            </div>
            </div>
        </div>
{% endblock %}