img.logo{
    width:213px;
    height:42px;
}


.topcorner{
    /* position: relative;
    margin: 20px;
    display: block; */
    position: relative;
    float: left;
    color: rgb(32, 103, 209);
}


th, td {
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 12px;
}


dd, dt {
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 14px;
}

.table {
    width: 90%;
}

.red {
    color: red;
}

